* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}

header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #343a40;
}

header img {
  height: 160px;
  margin-right: 20px;
}


h1 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}

h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #fff;
  color: #343a40;
}

header div {
  display: flex;
  align-items: center;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

section h2 {
  font-size: 32px;
  font-weight: bold;  
  margin-bottom: 40px;
}

section#instructions ol {
  counter-reset: step-counter;
  margin: 0;
  padding: 0;
}

section#instructions li {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

section p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
}

section {
  width: 900px;
  height: auto;
  margin-bottom: 40px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

iframe {
  display: block;
  margin: -5px;;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 1.2rem;
  margin-bottom: 0;
}
